body {font-family:"Helvetica Neue",Arial, sans-serif;		
	font-size:1rem; 
	word-wrap: break-word; overflow-wrap: break-word;}

	h1 h2 h3{
	margin: 0;
	padding:0; 
}

p {color: #000

}

img {
	display: block;
}

a { text-decoration: none;

 }

 address {
 	font-style: normal;
 }




nav {display: block;
	position: relative;
	margin-bottom: 40px
	color:
	border:;
 #nav.logo {
 	float: right;}
 	
	
